body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

form {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #00ff00;
}

input {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 15px;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  background-color: #444;
}

a.create-account {
  display: block;
  background-color: #333;
  color: #00ff00;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 14px;
  transition: background-color 0.3s;
}

a.create-account:hover {
  background-color: #444;
}
